/* You can add global styles to this file, and also import other style files */

button {
  cursor: pointer;
  outline: none;
  border: 2px solid blue;
  border-radius: 50px;
  padding: 10px;
  margin: .5rem;
  color: blue;
  font-weight: bold;
  background-color: papayawhip;
}
